<h1>Bienvenido, {{user.first_name}}!</h1>
<p>Rol: {{user.role}}</p>

<div>
  <h2>Lista de productos:</h2>
  <div id="products"></div>
</div>

<button id="logoutButton">Cerrar Sesión</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>